/* .price-slider{
    background:green;
} */

.multi-range-slider{
   width:80%;
   border:none;
   box-shadow:none;
}

.bar{
    background:grey;
    height:5px;
    box-shadow:none;
}

.multi-range-slider .bar-left{
    padding:0;
}

.multi-range-slider .thumb::before{
    border-radius:0%;
    box-shadow:none;
    background:black;
    border-radius:5px;
    width:13px;
}

.multi-range-slider .bar-inner-right{
    background:grey;
}

.multi-range-slider .bar-inner-left{
    background:grey;
}